<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="Cress Desktop Companion"
    Manufacturer="Jerrett Davis"
    Version="$(var.InstallerProductVersion)"
    UpgradeCode="6943BA12-E88C-44BA-B50D-163A8C5F3A6A"
    InstallerVersion="500"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Cress Desktop Companion is already installed." />

    <MediaTemplate EmbedCab="yes" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />

    <Feature Id="CompanionFeature" Title="Cress Desktop Companion" Level="1">
      <ComponentGroupRef Id="CompanionApplicationFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="UninstallShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CompanyFolder" Name="Jerrett Davis">
        <Directory Id="INSTALLDIR" Name="Cress Desktop Companion" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="CompanionProgramMenuFolder" Name="Cress Desktop Companion" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="StartMenuShortcutComponent" Directory="CompanionProgramMenuFolder" Guid="40E23658-FBFE-49B5-8D17-83B258BA3CC2">
      <Shortcut
        Id="CompanionStartMenuShortcut"
        Name="Cress Desktop Companion"
        Description="Desktop companion for anchored recording and monitoring"
        Target="[INSTALLDIR]Cress.Companion.Windows.exe"
        WorkingDirectory="INSTALLDIR" />
      <RemoveFolder Id="RemoveCompanionProgramMenuFolder" Directory="CompanionProgramMenuFolder" On="uninstall" />
      <RegistryValue
        Root="HKCU"
        Key="Software\Jerrett Davis\Cress Desktop Companion"
        Name="StartMenuShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="UninstallShortcutComponent" Directory="CompanionProgramMenuFolder" Guid="06B9606D-9F09-4EE3-ACD7-243AE1D0C9D7">
      <Shortcut
        Id="CompanionUninstallShortcut"
        Name="Uninstall Cress Desktop Companion"
        Target="[SystemFolder]msiexec.exe"
        Arguments="/x [ProductCode]" />
      <RegistryValue
        Root="HKCU"
        Key="Software\Jerrett Davis\Cress Desktop Companion"
        Name="UninstallShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
